# 2D-data
* Python: list of lists
* Numpy: 2D array
* Pandas: DataFrame

In [1]:
import numpy as np

In [2]:
# Subway ridership for 5 stations on 10 different days
ridership = np.array([
    [   0,    0,    2,    5,    0],
    [1478, 3877, 3674, 2328, 2539],
    [1613, 4088, 3991, 6461, 2691],
    [1560, 3392, 3826, 4787, 2613],
    [1608, 4802, 3932, 4477, 2705],
    [1576, 3933, 3909, 4979, 2685],
    [  95,  229,  255,  496,  201],
    [   2,    0,    1,   27,    0],
    [1438, 3785, 3589, 4174, 2215],
    [1342, 4043, 4009, 4665, 3033]
])

In [3]:
# Change False to True for each block of code to see what it does

# Accessing elements
if True:
    print (ridership[1, 3])
    print (ridership[1:3, 3:5])
    print (ridership[1, :])

2328
[[2328 2539]
 [6461 2691]]
[1478 3877 3674 2328 2539]

In [4]:
# Vectorized operations on rows or columns
if True:
    print (ridership[0, :] + ridership[1, :])
    print (ridership[:, 0] + ridership[:, 1])

[1478 3877 3676 2333 2539]
[   0 5355 5701 4952 6410 5509  324    2 5223 5385]

In [6]:
# Vectorized operations on entire arrays
if True:
    a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
    b = np.array([[1, 1, 1], [2, 2, 2], [3, 3, 3]])
    print (a + b)

[[ 2  3  4]
 [ 6  7  8]
 [10 11 12]]

In [12]:
max_station1stday = ridership[0,:].argmax()
print (max_station1stday)

3

In [13]:
ridership[:,max_station1stday]

array([   5, 2328, 6461, 4787, 4477, 4979,  496,   27, 4174, 4665])

In [14]:
ridership[:,max_station1stday].mean()

3239.9000000000001

In [9]:
# first day
ridership[0,:].mean()

1.3999999999999999

In [10]:
ridership.mean()

2342.5999999999999

In [15]:
def mean_riders_for_max_station(ridership):
    '''
    Fill in this function to find the station with the maximum riders on the
    first day, then return the mean riders per day for that station. Also
    return the mean ridership overall for comparsion.
    
    Hint: NumPy's argmax() function might be useful:
    http://docs.scipy.org/doc/numpy/reference/generated/numpy.argmax.html
    '''
    max_station1stday = ridership[0,:].argmax()
    overall_mean = ridership.mean() # Replace this with your code
    mean_for_max = ridership[:,max_station1stday].mean() # Replace this with your code
    
    return (overall_mean, mean_for_max)

In [16]:
print (mean_riders_for_max_station(ridership))

(2342.5999999999999, 3239.9000000000001)

# axis= 0, each column
# axis =1, each row

In [18]:
ridership.mean(axis=0)

array([ 1071.2,  2814.9,  2718.8,  3239.9,  1868.2])

In [19]:
ridership.mean(axis=1)

array([  1.40000000e+00,   2.77920000e+03,   3.76880000e+03,
         3.23560000e+03,   3.50480000e+03,   3.41640000e+03,
         2.55200000e+02,   6.00000000e+00,   3.04020000e+03,
         3.41840000e+03])

In [20]:
import numpy as np

# Change False to True for this block of code to see what it does

# NumPy axis argument
if True:
    a = np.array([
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ])

In [21]:
print (a.sum())
print (a.sum(axis=0))
print (a.sum(axis=1))

45
[12 15 18]
[ 6 15 24]

In [22]:
# Subway ridership for 5 stations on 10 different days
ridership = np.array([
    [   0,    0,    2,    5,    0],
    [1478, 3877, 3674, 2328, 2539],
    [1613, 4088, 3991, 6461, 2691],
    [1560, 3392, 3826, 4787, 2613],
    [1608, 4802, 3932, 4477, 2705],
    [1576, 3933, 3909, 4979, 2685],
    [  95,  229,  255,  496,  201],
    [   2,    0,    1,   27,    0],
    [1438, 3785, 3589, 4174, 2215],
    [1342, 4043, 4009, 4665, 3033]
])

In [23]:
ridership.mean(axis=0)

array([ 1071.2,  2814.9,  2718.8,  3239.9,  1868.2])

In [25]:
perDay = ridership.mean(axis=1)

print(perDay)

print(perDay.max())

[  1.40000000e+00   2.77920000e+03   3.76880000e+03   3.23560000e+03
   3.50480000e+03   3.41640000e+03   2.55200000e+02   6.00000000e+00
   3.04020000e+03   3.41840000e+03]
3768.8

In [32]:
def min_and_max_riders_per_day(ridership):
    '''
    Fill in this function. First, for each subway station, calculate the
    mean ridership per day. Then, out of all the subway stations, return the
    maximum and minimum of these values. That is, find the maximum
    mean-ridership-per-day and the minimum mean-ridership-per-day for any
    subway station.
    '''
    perDay = ridership.mean(axis=0)
    max_daily_ridership = perDay.max()     # Replace this with your code
    min_daily_ridership = perDay.min()     # Replace this with your code
    
    return (max_daily_ridership, min_daily_ridership)

In [26]:
a1 = np.array([[5,10,15,20,25], [5,10,15,20,25],[5,10,15,20,25]])

In [30]:
a1.mean(axis=1)

array([ 15.,  15.,  15.])

In [31]:
a1.mean(axis=0)

array([  5.,  10.,  15.,  20.,  25.])

In [33]:
min_and_max_riders_per_day(a1)

(25.0, 5.0)

In [35]:
min_and_max_riders_per_day(ridership)

(3239.9000000000001, 1071.2)

In [36]:
import numpy as np
np.array([1,2,3,4,5]).dtype

dtype('int32')

# pands for 2D data

In [37]:
import pandas as pd

# Subway ridership for 5 stations on 10 different days
ridership_df = pd.DataFrame(
    data=[[   0,    0,    2,    5,    0],
          [1478, 3877, 3674, 2328, 2539],
          [1613, 4088, 3991, 6461, 2691],
          [1560, 3392, 3826, 4787, 2613],
          [1608, 4802, 3932, 4477, 2705],
          [1576, 3933, 3909, 4979, 2685],
          [  95,  229,  255,  496,  201],
          [   2,    0,    1,   27,    0],
          [1438, 3785, 3589, 4174, 2215],
          [1342, 4043, 4009, 4665, 3033]],
    index=['05-01-11', '05-02-11', '05-03-11', '05-04-11', '05-05-11',
           '05-06-11', '05-07-11', '05-08-11', '05-09-11', '05-10-11'],
    columns=['R003', 'R004', 'R005', 'R006', 'R007']
)

In [38]:
ridership_df

          R003  R004  R005  R006  R007
05-01-11     0     0     2     5     0
05-02-11  1478  3877  3674  2328  2539
05-03-11  1613  4088  3991  6461  2691
05-04-11  1560  3392  3826  4787  2613
05-05-11  1608  4802  3932  4477  2705
05-06-11  1576  3933  3909  4979  2685
05-07-11    95   229   255   496   201
05-08-11     2     0     1    27     0
05-09-11  1438  3785  3589  4174  2215
05-10-11  1342  4043  4009  4665  3033

In [39]:
# DataFrame creation
if True:
    # You can create a DataFrame out of a dictionary mapping column names to values
    df_1 = pd.DataFrame({'A': [0, 1, 2], 'B': [3, 4, 5]})
    print (df_1)

   A  B
0  0  3
1  1  4
2  2  5

In [40]:

# You can also use a list of lists or a 2D NumPy array
df_2 = pd.DataFrame([[0, 1, 2], [3, 4, 5]], columns=['A', 'B', 'C'])
print (df_2)

   A  B  C
0  0  1  2
1  3  4  5

In [43]:
ridership_df

          R003  R004  R005  R006  R007
05-01-11     0     0     2     5     0
05-02-11  1478  3877  3674  2328  2539
05-03-11  1613  4088  3991  6461  2691
05-04-11  1560  3392  3826  4787  2613
05-05-11  1608  4802  3932  4477  2705
05-06-11  1576  3933  3909  4979  2685
05-07-11    95   229   255   496   201
05-08-11     2     0     1    27     0
05-09-11  1438  3785  3589  4174  2215
05-10-11  1342  4043  4009  4665  3033

In [42]:
if True:
    print (ridership_df.iloc[0])
    print('****************************')
    print (ridership_df.loc['05-05-11'])
    print('****************************')
    print (ridership_df['R003'])
    print('****************************')
    print (ridership_df.iloc[1, 3])

R003    0
R004    0
R005    2
R006    5
R007    0
Name: 05-01-11, dtype: int64
****************************
R003    1608
R004    4802
R005    3932
R006    4477
R007    2705
Name: 05-05-11, dtype: int64
****************************
05-01-11       0
05-02-11    1478
05-03-11    1613
05-04-11    1560
05-05-11    1608
05-06-11    1576
05-07-11      95
05-08-11       2
05-09-11    1438
05-10-11    1342
Name: R003, dtype: int64
****************************
2328

In [44]:
# Accessing multiple rows
if True:
    print (ridership_df.iloc[1:4])

          R003  R004  R005  R006  R007
05-02-11  1478  3877  3674  2328  2539
05-03-11  1613  4088  3991  6461  2691
05-04-11  1560  3392  3826  4787  2613

In [45]:
# Accessing multiple columns
if True:
    print (ridership_df[['R003', 'R005']])

          R003  R005
05-01-11     0     2
05-02-11  1478  3674
05-03-11  1613  3991
05-04-11  1560  3826
05-05-11  1608  3932
05-06-11  1576  3909
05-07-11    95   255
05-08-11     2     1
05-09-11  1438  3589
05-10-11  1342  4009

In [46]:
if True:
    df = pd.DataFrame({'A': [0, 1, 2], 'B': [3, 4, 5]})
    print (df)
    print('****************************')
    print (df.sum())
    print('****************************')
    print (df.sum(axis=1))
    print('****************************')
    print (df.values.sum())

   A  B
0  0  3
1  1  4
2  2  5
****************************
A     3
B    12
dtype: int64
****************************
0    3
1    5
2    7
dtype: int64
****************************
15

In [49]:
a = pd.DataFrame(
    {0: [5, 5, 5],
     1: [10, 10, 10],
     2: [15, 15, 15],
     3: [20, 20, 20],
     4: [25, 25, 25]},
    index=[0, 1, 2]
)

In [50]:
a

   0   1   2   3   4
0  5  10  15  20  25
1  5  10  15  20  25
2  5  10  15  20  25

In [48]:
a.iloc[0].mean()

15.0

In [52]:
ridership_df = pd.DataFrame(
    data=[[   0,    0,    2,    5,    0],
          [1478, 3877, 3674, 2328, 2539],
          [1613, 4088, 3991, 6461, 2691],
          [1560, 3392, 3826, 4787, 2613],
          [1608, 4802, 3932, 4477, 2705],
          [1576, 3933, 3909, 4979, 2685],
          [  95,  229,  255,  496,  201],
          [   2,    0,    1,   27,    0],
          [1438, 3785, 3589, 4174, 2215],
          [1342, 4043, 4009, 4665, 3033]],
    index=['05-01-11', '05-02-11', '05-03-11', '05-04-11', '05-05-11',
           '05-06-11', '05-07-11', '05-08-11', '05-09-11', '05-10-11'],
    columns=['R003', 'R004', 'R005', 'R006', 'R007']
)

In [54]:
ridership_df

          R003  R004  R005  R006  R007
05-01-11     0     0     2     5     0
05-02-11  1478  3877  3674  2328  2539
05-03-11  1613  4088  3991  6461  2691
05-04-11  1560  3392  3826  4787  2613
05-05-11  1608  4802  3932  4477  2705
05-06-11  1576  3933  3909  4979  2685
05-07-11    95   229   255   496   201
05-08-11     2     0     1    27     0
05-09-11  1438  3785  3589  4174  2215
05-10-11  1342  4043  4009  4665  3033

In [58]:
max1stDay = ridership_df.iloc[0].argmax()
print (max1stDay)

R006

In [60]:
ridership_df[max1stDay].mean()

3239.9

In [61]:
ridership_df.mean()

R003    1071.2
R004    2814.9
R005    2718.8
R006    3239.9
R007    1868.2
dtype: float64

In [62]:
ridership_df.values.mean()

2342.5999999999999

In [67]:
def mean_riders_for_max_station(ridership):
    '''
    Fill in this function to find the station with the maximum riders on the
    first day, then return the mean riders per day for that station. Also
    return the mean ridership overall for comparsion.
    
    This is the same as a previous exercise, but this time the
    input is a Pandas DataFrame rather than a 2D NumPy array.
    '''
    max_station = ridership.iloc[0].argmax()
    
    overall_mean = ridership.values.mean() # Replace this with your code
    mean_for_max = ridership[max_station].mean() # Replace this with your code
    
    return (overall_mean, mean_for_max)

In [68]:
mean_riders_for_max_station(ridership_df)

(2342.5999999999999, 3239.9)